*.o
Makefile
aclocal.m4
autom4te.cache
config.h
config.log
config.status
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
.deps
stamp-h1

po/ChangeLog
po/LINGUAS
po/Makefile.in
po/POTFILES
po/stamp-it

.dirstamp

.*.sw*
.sw*

cscope.in.out
cscope.out
cscope.po.out

sbcdump

*.pcm
*.log
